h1{
    font-size:100px ;
    font-style:bolder;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    text-align: center;
    /* padding: 5px 5px; */
}

h3{
    font-size:40px ;
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    text-align: center;
    margin-top: 1px;
}
button{
    background-image: "https://www.freelogodesign.org/file/app/client/thumb/46fc1273-cb93-4789-9998-b12aa9064b89_200x200.png?1608199107161";
}
#auto{
  margin: auto;
  width: 60%;
  border:none;
  /* padding: 10px; */
  box-shadow: 10px 10px 5px grey;

  margin-top: 100px;
  
  z-index: -1;
  }
  #buttonimage{border-radius: 50%;
  margin-left:800px;}
#hide{
    margin-top:-40px;
    margin-left: 100px;
    text-align: left;
    -ms-transform: scaleY(1.5); 
    transform: scaleY(1.5);
    /* z-index: -1; */
    /* position: absolute; */
}


.topnav {
    overflow: hidden;
    background-color: rgb(218, 141, 26);
    font-size: 30px;
    
  }
  
  .topnav a {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 20px;
    text-decoration: none;
  }
  #category{
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 40px;
 
   
  }
  #category:hover{   background-color: rgb(243, 161, 8);
    color: rgb(212, 134, 16);}
    #category.active{ background-color: #ee8a08;
      color: white;}
  .topnav a:hover {
    background-color: rgb(243, 161, 8);
    color: rgb(212, 134, 16);
  }
  
  .topnav a.active {
    background-color: #ee8a08;
    color: white;
  }
  #logo{
    position: absolute;
   margin-top: -40px;
    left: 16px;
      width: 300px;
      height: 250px;
  }
  .nav{
      
      font-size: 60px;
      
  }
  .mySlides{
    width: 500px;
    height:500px;
  }
  header {
      margin-top: -70px;
    background-image: url('https://img.freepik.com/free-photo/brown-texture_1160-722.jpg?size=626&ext=jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% ;
  }
  body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/110/245/243/floor-wood-board-textures-wood-panels-wood-texture-1680x1050-abstract-textures-hd-art-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% 
  }
#musica{
    margin-bottom: 30px;
}



 
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }

  #think {
      width: 300px;
      height: 300px;
  }
   #shop{ 
   
     position:relative;
    width: 300px;
    height: auto;
margin-left: 80%; 
  }  
  #iso{
    font-size: 30px;
    text-align: center;
  
  }
  #al{
    border: none;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black; 
   height: 50px;
  }
  #al:hover{
    background-color:#ccccccc7;
    /* color: white; */
  }
 #bt {  background-color:rgb(243, 161, 8) ; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 60px;

 }
 #bt:hover{

 }
li{
  list-style-type: none;

}
 #add{
  opacity: 0.5; 
 }
#add:hover{opacity: 1.0;}
#carte{
  float: left;
  padding: 5px;
  margin-left: 80px;
  position:relative
}
* {
  box-sizing: border-box;
}
h5{
 font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 5px red;
  margin-top: 0px;
}